* {
      margin: 0;
      padding: 0;
}
body {
    background-color: #ebebeb;
    color: white;
    font-family:Trebuchet MS, sans-serif;
    height: 100vh;
}

.sidebar {
    margin: 0;
    background-color: #385a69;
    padding: 20px;
    top: 0;
    padding-top: 89px;
    width: 12%;   
    height: 100%;
    position:fixed;
    display: block;
    text-align: left;
    height: 100vh;
    overflow-y: auto;
    z-index: 999;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
}

.sidebar a:hover {
    background-color: #497489;
    position:static;
    padding-right: 20px;
    transition: background-color 0.3s ease;
}

.header {
    background-color: #3f6374;
    display: flex;
    border-bottom: 3px solid #324954;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.btnHeader{
    text-decoration: none;
    color: white;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 400px;
    font-size: 20px;
}

.btnHeader:hover {
    background-color: #497489;
    transition: background-color 0.3s ease;
}

.logoLink {
    position: fixed;
    left: 0px;
    text-decoration: none;
    padding: 18px;
    color: white;
    display: flex;
    left: 10px;
    font-size: 35px;
}

.logoLink:hover{
    color: #8ecae6;
    transition: color 0.3s ease;
}


.content {
    margin: 90px auto 0 auto; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}


.titre {
    margin-top: 30px;
    margin-bottom: 15px;
}

.titre:hover {
    cursor: default;
}

.post {
    display: block;
    background-color: #29444f;
    padding: 2% 12% 2% 12%;
    margin-left: 10%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.aReg {
    color: white;
}

.loginForm {
    background-color: #325868;
    width: 400px;                /* Фиксированная ширина */
    margin: 100px auto 20px auto;/* Центрирование по горизонтали */
    padding: 30px;
    border-radius: 10px;
    text-align: center;          /* Центрируем содержимое */
    box-sizing: border-box; 
}

.usernameInput {
    font-size: 20px;
    margin-top: 40px;
    margin-right: 50px;
}
.passwordInput {
    margin-top: 20px;
    font-size: 20px;
    margin-right: 50px;
}
.confirmPasswordInput {
    margin-top: 20px;
    font-size: 20px;
    margin-right: 50px;
}

.emailInput {
    margin-top: 20px;
    font-size: 20px;
    margin-right: 50px;
}
.confirmEmailInput {
    margin-top: 20px;
    font-size: 20px;
    margin-right: 50px;
}

.termsInput {
    margin-top: 20px;
    font-size: 15px;
    margin-right: 50px;
}

.privacyInput {
    margin-top: 20px;
    font-size: 15px;
    margin-right: 50px;
}

.captchaInput {
    margin-top: 20px;
    font-size: 20px;
    margin-right: 50px;
}

.btnRegister {
    display: block;
    margin: 20px auto 0 auto; /* сверху 20px, по бокам auto, снизу 0 */
    background-color: #497489;
    color: white;
    padding: 10px 100px; /* 10px сверху и снизу, 100px слева и справа */
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    text-align: center; /* не обязательно для кнопки, но можно оставить */
    user-select: none;
}

.btnRegister:hover {
    background-color: #3f6374;
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}

.forReg {
    margin-top: 20px;
    font-size: 12px;
}

.registerForm {
    background-color: #325868;
    width: 700px;                /* Фиксированная ширина */
    margin: 100px auto 20px auto;/* Центрирование по горизонтали */
    padding: 30px;
    border-radius: 10px;
    text-align: left;          /* Центрируем содержимое */
    box-sizing: border-box;      /* Чтобы padding не увеличивал ширину */
}

.registerForm h2 {
    text-align: center;
    margin-bottom: 20px;
}

.inputField {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 3px;
}