* {
      margin: 0;
      padding: 0;
}
body {
    background-color: #ebebeb;
    color: white;
    font-family:Trebuchet MS, sans-serif;
    height: 100vh;
}

.titre {
    margin-top: 30px;
    margin-bottom: 15px;
}

.titre:hover {
    cursor: default;
}

.openSidebar {
    position: fixed;
    z-index: 1001;
    width: 50px;
    height: 50px;
    top: 100px;
    border-radius: 50%;
    background-color: #385a69;
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.openSidebar:hover {
    background-color: #497489;
    transition: background-color 0.3s ease;
}

.sidebar {
    margin: 0;
    background-color: #385a69;
    padding: 20px;
    top: 0;
    padding-top: 89px;
    width: 0%;
    height: 100%;
    position:fixed;
    display: block;
    height: 100vh;
    overflow-y: auto;
    z-index: 999;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
}


.sidebar a:hover {
    background-color: #497489;
    position:static;
    padding-right: 20px;
    transition: background-color 0.3s ease;
}
.content_sidebar {
    visibility: hidden;
}

.header {
    background-color: #3f6374;
    display: flex;
    border-bottom: 3px solid #324954;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.btnHeader{
    text-decoration: none;
    color: white;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 400px;
    font-size: 20px;
}

.btnHeader:hover {
    background-color: #497489;
    transition: background-color 0.3s ease;
}

.logoLink {
    position: fixed;
    left: 0px;
    text-decoration: none;
    padding: 18px;
    color: white;
    display: flex;
    left: 10px;
    font-size: 35px;
}

.logoLink:hover{
    color: #8ecae6;
    transition: color 0.3s ease;
}


.notification {
    visibility: hidden;
    width: 250px;
    background-color: #dff4ff;
    color: rgb(26, 47, 65);
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    z-index: 2000;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: opacity 0.5s linear;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
}

.notification.show {
    opacity: 1;
}